body{
    font-family: 'Lato',sans-serif;
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color:aqua;
}

.btn-primary{
    border-radius: 5px;
    background: rgba(168, 8, 147, 0.74);
color:white ;
font-size: 20px;
font-weight: 700;
padding: 15px 35px;
margin-left: 100px;
box-shadow: 3px 2px 2px rgb(205, 56, 235);

}
.btn-login{
    background: rgba(221, 34, 34, 0.74);
    color:white ;
font-size: 20px;
font-weight: 600;
padding: 10px 30px;
box-shadow: 3px 2px 2px rgb(146, 18, 88);
}

nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
.nav-title{
color: rgb(255, 255, 255);
font-size: 45px;
font-weight: 800;
}

nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color:cadetblue;
}
.header{
    background-color:#000000;
    background-image: url('../Images/wave\(2\).png');
    background-repeat: no-repeat;
background-position: bottom right;
background-size: 600px;
}
.banner{
    padding: 30px 30px 00px 150px;
    display:flex;
    text-align-last:center;
    box-sizing: 100px;
}
.banner .profilepic{
    width: 300px;
}
.banner-intro{
  color: white;
   text-shadow: cornsilk;
   
}
.banner-greeting{
    color: white;
    margin-bottom: 0;
    font-size: 30px;
    ;
}
.banner-title{
    color: white;
    margin: 5px;
    font-size: 45px;
}
.About{
    color: white;
    padding: 130px;
   border-radius: 10px; 
   background: #000000;
   margin: 130px 0;
}
.section-title {
    color: #000000;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.section-decriction{
    color: #000000;
    font-size: 18px;
    padding: 100px;
    border-radius: 10px;
    margin-block-end: 5px;
    
}
.about-container{
    display: flex;
    justify-content: space-around;
 
height: 50px;
}
.about-info{
    text-align: center;
}
.full-about{

    border: 2px ;
    align-items: center;


}
